anyio==3.6.1
asgiref==3.4.1
Django==3.2.9
djangorestframework==3.12.4
h11==0.13.0
idna==3.3
mysqlclient==2.1.1
protobuf==3.19.4
pydantic==1.9.2
PyMySQL==1.0.2
pytz==2021.3
six==1.16.0
sniffio==1.2.0
sqlparse==0.4.2
starlette==0.19.1
typing_extensions==4.3.0
uvicorn==0.18.2
dlib==19.24.0
opencv-python==4.6.0.66
